.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.pokemon-card {
  cursor: url("./assets/img/mouse-highlight.png"), auto;
  position: relative;
  width: 240px;
  height: 280px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.pokemon-circle {
  height: 180px;
  width: 180px;
  background-color: rgb(48, 48, 48);
  position: absolute;
  bottom: 75px;
  border-radius: 50%;
  z-index: 800;
}

.pokemon-description {
  width: 100%;
  height: 120px;
  background-color: rgb(151, 151, 151);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 10px 10px 8px rgba(255, 255, 255, 0.8) inset,
    -10px -10px 10px rgba(32, 32, 32, 0.5) inset;
  z-index: 801;
}

.pokemon-img {
  height: 105px;
  width: 105px;
  object-fit: contain;
  position: absolute;
  bottom: 125px;
  z-index: 802;
}

.pokemon-types {
  padding-top: 8px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.type {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  border-radius: 4px;
  border: 0.5px solid rgb(122, 122, 122);
  width: 64px;
}

.single-card {
  cursor: url("./assets/img/mouse-highlight.png"), auto;
  position: relative;
  width: 400px;
  height: 520px;
  background-color: rgb(41, 41, 41);
  border: 0.5px solid rgba(161, 161, 161, 0.2);
  border-radius: 16px;
  box-shadow: 10px 10px 6px rgba(255, 255, 255, 0.2) inset,
    0px 0px 40px rgb(224, 224, 224), -10px -10px 10px rgb(17, 17, 17) inset;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.single-circle {
  height: 170px;
  width: 170px;
  background-color: rgb(52, 52, 52);
  position: absolute;
  top: 24px;
  border-radius: 50%;
  z-index: 901;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(248, 248, 248);
  z-index: 904;
}

.single-description {
  margin-bottom: 24px;
  padding: 16px 8px 0px 8px;
  width: 85%;
  height: 345px;
  color: rgb(248, 248, 248);
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 902;
}

.single-img {
  height: 105px;
  width: 105px;
  object-fit: contain;
  position: absolute;
  top: 36px;
  z-index: 903;
}

.single-type {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  width: 64px;
}

.pokemon-details {
  padding-top: 16px;
  text-align: left;
}

.pokemon-details td {
  padding: 4px 4px;
  vertical-align: top;
}

.pokemon-details td:first-child {
  font-weight: 500;
  width: 160px;
}

.arrows {
  margin-top: auto;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.arrow-img {
  height: 32px;
  width: 32px;
  transition: all 0.3s ease;
}

.arrow-img:hover {
  transform: scale(1.15);
}

.loading {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.loading-shadow {
  position: absolute;
  bottom: 50px;
  width: 150px;
  height: 150px;
}

.loading-ball {
  position: absolute;
  bottom: 45px;
  width: 150px;
  height: 150px;
  animation: bounce 1.3s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
