.searchbox {
  display: flex;
}

.pokemon-card {
  position: relative;
  width: 240px;
  height: 280px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.pokemon-circle {
  height: 180px;
  width: 180px;
  position: absolute;
  bottom: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 12px rgba(0, 0, 255, 0.05);
  z-index: 800;
}

.pokemon-description {
  width: 100%;
  height: 140px;
  background-color: rgb(240, 240, 240);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  z-index: 801;
}

.pokemon-img {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 130px;
  z-index: 802;
}
