.pokemon-card {
  cursor: url("./assets/img/mouse-highlight.png"), auto;
  position: relative;
  width: 240px;
  height: 280px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.pokemon-circle {
  height: 180px;
  width: 180px;
  background-color: rgb(48, 48, 48);
  position: absolute;
  bottom: 75px;
  border-radius: 50%;
  z-index: 800;
}

.pokemon-description {
  width: 100%;
  height: 120px;
  background-color: rgb(151, 151, 151);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 10px 10px 8px rgba(255, 255, 255, 0.8) inset,
    -10px -10px 10px rgba(32, 32, 32, 0.5) inset;
  z-index: 801;
}

.pokemon-img {
  height: 105px;
  width: 105px;
  object-fit: contain;
  position: absolute;
  bottom: 125px;
  z-index: 802;
}

.pokemon-types {
  padding-top: 8px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.type {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  border-radius: 4px;
  border: 0.5px solid rgb(122, 122, 122);
  width: 64px;
}

.loading {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.loading-shadow {
  position: absolute;
  bottom: 50px;
  width: 150px;
  height: 150px;
}

.loading-ball {
  position: absolute;
  bottom: 45px;
  width: 150px;
  height: 150px;
  animation: bounce 1.3s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
