.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1),
    -4px -4px 4px white;
  }
  
  .searchBox input {
    border-radius: 8px 0 0 8px;
    border: 0;
    outline: none;
    height: 36px;
    padding: 4px 16px;
    background-color: white;
    color: #000;
  }
  
  .searchBox button {
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    border: 0;
    height: 36px;
    padding: 4px 16px;
    background-color: white;
  }