* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Livvic", normal;
  height: 100%;
  background-color: rgb(249, 249, 249);
}

header {
  max-width: 1440px;
  margin: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h1 {
  /* color: rgb(254, 202, 27); */
  color: white;
  font-size: 64px;
  font-weight: 900;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1) ,
  -4px -4px 4px white;
    -webkit-text-stroke: 0.5px rgba(61, 125, 202, 0.8);
  /* -webkit-text-stroke: 5px rgb(61, 125, 202); */
}

h2{
  margin: 0px;
}

a {
  text-decoration: none;
}

.impressum {
  padding: 80px;
}

.content {
  max-width: 1440px;
  margin: auto;
  padding-inline: 8px;
  padding-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.d-none {
  display: none;
}
