* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Livvic", normal;
  height: 100%;
  /* background-color: rgb(240, 240, 240); */
  background-color: rgb(32, 32, 32);
  cursor: url('../assets/img/mouse-pointer.png'), auto;
}

header {
  max-width: 1440px;
  height: 160px;
  margin: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

footer {
  height: 40px;
  margin-top: 24px;
  background-image: linear-gradient(to top, rgba(61, 125, 202, 0.3), rgb(32, 32, 32));
}

h1 {
  color: rgba(61, 125, 202, 0.45);
  font-size: 64px;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgb(0, 0, 0), -0px -0px 4px rgba(255, 255, 255, 0.3);
  -webkit-text-stroke: 0.5px rgba(61, 125, 202, 0.8);
}

h2 {
  margin: 0px;
}

a {
  text-decoration: none;
}

.impressum {
  padding: 80px;
}

.content {
  max-width: 1440px;
  min-height: calc(100vh - 224px);
  margin: auto;
  padding-inline: 8px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.load-Btn-content {
  height: 100px;
  display: none;
  justify-content: center;
  align-items: end;
}

.d-none {
  display: none;
}
